<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="ImdbTopRatedActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="ImdbTopRatedActorServiceReplicatorEndpoint" />
   </Section>
   <Section Name="ImdbTopRatedActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="ImdbTopRatedActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="ImdbCounterActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="ImdbCounterActorServiceReplicatorEndpoint" />
   </Section>
   <Section Name="ImdbCounterActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="ImdbCounterActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="ImdbActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="ImdbActorServiceReplicatorEndpoint" />
   </Section>
   <Section Name="ImdbActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
</Settings>